body{
  background-color:#faebfa;
  text-align:center;
  margin:50px;
  font-family: 'Lekton', sans-serif;;
  color:white;
}

header{
  text-align:center;
}
#di{
  width:52%;
  margin-left: 20px;
  margin-top:20px;
}


#ms-scrabble{
  width: 150%;
    margin: 0 auto;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 13px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 55px;
    width: 50%;
    margin-top: 31px !important;
    margin: 0 auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

img {
    border-radius: 55px 55px 55px 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

h4{
  text-align: center;
}

a:hover{
  text-decoration: none
}

.wrap{
  position: relative;
}
.wrap a{
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}
select{
  font-size:15px;
}
#majorcol{
  width: 95%;
  margin: 0;
  margin-left: 15%;
  background-color: #6cd5d8;
  overflow: hidden;
  border: white 4px outset;
  border-radius: 10px;
  padding: 7px;
  padding-bottom: 20px;
  font-size: 27px;
  margin: 0 auto;
}

#majorcol h1{
  font-size:30px;
  margin:2%;
  padding:0;
}

#majorcol #col1{
  background-color:#6cd5d8;
  width:25%;
  display: inline;
  float:left;
  padding:5px;
  
}

#majorcol #col2{
  background-color:#6cd5d8;
  width:22%;
  display: inline;
  float:left;
  padding:5px;
}

#majorcol #col3{
  background-color:#6cd5d8;
  width:22%;
  display: inline;
  float:left;
  padding:5px;
}

#majorcol #col4{
  background-color:#6cd5d8;
  width:20%;
  display: inline;
  float:left;
  padding:1%;
  padding-left:3%;
  padding-top:9%;
}


#fridge img{
  margin:0;
  padding:0;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

#button1{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 50%;
  background: url('https://cdn.glitch.com/70f336f9-db49-4e63-8313-c6a48cbb6ee8%2FCopy_of_Untitled_2.png?v=1604809644601');
  background-size: cover;
  border: none;
}

#restart{
  margin-top:10px;
  font-size: 15px;
}

#button1 img{
  size:50%;
}

#top{
  font-size: 15px;
  -webkit-text-stroke: thick;
}
